<%# turbo_frame_tag "menu"  %>
<div class="card-menu">
  <div class="card-menu__header">
    <h2><%= menu.day_of_week %></h2>
  </div>
  <div class="card-menu__body">
    <% @meal_types.each do |meal_type| %>
      <%= turbo_frame_tag "menu_#{menu.id}_#{meal_type}" do %>
        <div class= "card-menu-meal">
          <div class="card-menu-meal__header">
            <h3><%= link_to meal_type.capitalize, show_meal_menu_path(menu, meal_type) %></h3>
          </div>
          <div class="card-menu-meal__body">
            <% @users.each do |user| %>
              <% meal =  Meal.find_by(user: user, menu: menu, meal_type: meal_type) %>

                <div class= "card-menu-meal-user">
                  <div class="card-menu-meal-user__header">
                    <h4><%= user.name_first.capitalize %></h4>
                  </div>
                  <div class="card-menu-meal-user__body">
                      <% @course_types.each do |course_type| %>
                        <% meal_courses = meal.courses.map { |course| course.course_type } %>
                        <% if meal_courses.include?(course_type) %>
                          <div class= "card-menu-meal-user-course">
                            <i class="fa-solid fa-square-check checked"></i> <%= course_type.capitalize %>
                          </div>
                        <% else %>
                          <div class= "card-menu-meal-user-course">
                            <i class="fa-regular fa-square"></i> <%= course_type.capitalize %>
                          </div>
                        <% end %>
                      <% end %>
                  </div>
                </div>

            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
