<div class="container">
<%= link_to "Create a new Meal", new_meal_path, class: "btn btn-ghost" %>
</div>
<div class="section-menu">

  <% @menus.each do |menu| %>
    <div class="card-menu">
      <div class="card-menu-header">
        <h6><%= menu.date.strftime("%a") %></h6>
        <h6><%= link_to "#{menu.date.strftime("%B"" ""%d")}", menu %></h6>
      </div>

      <% @meal_type.each do |meal| %>
        <div class= "card-menu-meal">
          <div class="card-menu-meal-header">
            <h5><%= meal %></h5>
          </div>

          <div class= "card-menu-meal-body">
            <% @users.each do |user| %>
              <div class= "card-menu-meal-user">
                <h6><%= user.name_first %></h6>

                <p>Meal #: <%= user.meals.where(menu_id: menu).ids.first %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
