<div class="container">
  <div class="header">
    <h1>Meal Type show page: <%= @meal_type.capitalize %></h1>
  </div>


<div class="card-menu__body">
  <%# turbo_frame_tag "menu-body" %>
    <div class= "card-menu-meal">
      <div class="card-menu-meal__header">
        <%= @meal_type %>
      </div>
      <div class="card-menu-meal__body">
        <% @meals.each do |meal| %>
          <div class= "card-menu-meal-user">
            <div class="card-menu-meal-user__header">
              <%= User.find(meal.user_id).name_first %>
            </div>
            <div class="card-menu-meal-user__body">
              <% @course_types.each do |course_type| %>
                <h6><%= course_type.capitalize %>: </h6>

                <% unless @courses.find_by(course_type: course_type).nil? %>
                  <%= render @courses.find_by(course_type: course_type),
                                      meal: @meal %>
                <% else %>
                  <div class="card-course">
                    <div class="card-course__action">
                      <%= link_to new_menu_meal_course_path(@menu, @meal),
                                  class: "btn btn--light"
                                  # insert > recipe = @recipes.detect()
                                   do %>
                        <i class="fa-solid fa-circle-plus"></i>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <%# end - turbo_frame_tag "menu-body" %>
</div>




</div>
