<div class="recipe-card">
  <div class="card-header">
    <%= image_tag recipe.image, size: "100" %>
  </div>
  <div class="card-body">
    <ul>
    <li>Name: <%= link_to recipe.label, recipe_path(recipe.erecipe_id  ) %></li>
    <li><%= recipe.source %></li>
    <li><%= recipe.yield %></li>
    <li><%= recipe.erecipe_id %></li>
    </ul>
  </div>
  <div class="card-footer">
    <%# Insert ingredients here. Need to fix Recipe.new for Search function %>
  </div>
</div>
