<div class="recipe-card">
  <div class="card-header">
    <div class="text-center">
      <%= image_tag recipe.image, size: "100" %>
    </div>
  </div>
  <div class="card-body">
    <ul><small>
      <li>Name: <%= link_to recipe.label, recipe_path(recipe.erecipe_id) %></li>
      <li>Source: <%= recipe.source %></li>
      <li>Servings: <%= recipe.yield %></li></small>
    </ul>
  </div>
  <div class="card-footer">
    <%=  recipe_form(title) %>
    
  </div>
</div>
