<div id="<%= dom_id recipe %>">
  <div class="recipe-card">
    <div class="card__header">
        <%= image_tag recipe.image %>
    </div>
    <div class="card__body">
      <div class="content-header">
      <%= link_to recipe.label, recipe_path(recipe.erecipe_id), class: "recipe-title" %>
      <%= recipe.source %>
      </div>
      Servings: <%= recipe.yield %>
      # of ingredients: <%= recipe.ingredients.count %>

    </div>
    <div class="card__footer">
      <%= recipe_form(page_title = locals[:title], erecipe_id = recipe.erecipe_id) %>
    </div>
  </div>
</div>
