  <div class="card-recipe">
<%= turbo_frame_tag recipe.erecipe_id do %>
    <div class="card-recipe__header">
        <p class="label"><%= recipe.label %></p>
        <p class="source"><%= recipe.source %></p>
        <%= link_to (image_tag recipe.recipe_image(size: "regular")), recipe.source_url, target: '_blank'%>
    </div>
    <div class="card-recipe__body">
      <div class="content-body">
        <ul class="details">
          <li class="item">
            <i class="fa-solid fa-user"></i>
            <span class="value"><%= recipe.yield %></span>
            <span class="title">Servings</span>
          </li>
          <li class="item">
            <i class="fa-solid fa-book-open"></i>
            <span class="value"><%= recipe.ingredients.count %></span>
            <span class="title">Ingredients</span>
            <%= link_to "", recipe_path(recipe.erecipe_id) %>
          </li>
        </ul>
      </div>
    </div>
<% end %>
  </div>
