<div id="<%= dom_id recipe %>">
  <div class="recipe-card">
    <div class="recipe-card__header">
        <%= image_tag recipe.image %>
    </div>
    <div class="recipe-card__body">
      <div class="recipe-card__body_content-header">
      <%= link_to recipe.label, recipe_path(recipe.erecipe_id), class: "recipe-title" %>
      <p><%= recipe.source %></p>
      </div>
      <div class="recipe-card__body_content-body">
        <ul class="recipe-card__body_content-body-details">
          <li class="item">
            <i class="fa-solid fa-user"></i>
            <span class="value"><%= recipe.yield %></span>
            <span class="title">Servings</span>
          </li>
          <li class="item">
            <i class="fa-solid fa-book-open"></i>
            <span class="value"><%= recipe.ingredients.count %></span>
            <span class="title">Ingredients</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="recipe-card__footer">
      <%= recipe_form(page_title = locals[:title], erecipe_id = recipe.erecipe_id) %>
    </div>
  </div>
</div>
