<% @recipes.each do |r| %>
  <div class="recipe-card">
    <div class="card-header">
    <%= image_tag (r.image), size: "100" %>
    </div>
    <div class="card-body">
      <p><small>Name:<%= r.label %></small>
      <small> Source:<%= r.source %></small>
      <small> Servings:<%= r.yield %></small></p>
    </div>
    <div class="card-footer">
      <p><font size="1">ID: <%= r.erecipe_id %></font></p>
    </div>
  </div>
<% end %>
