
<%= form_with(url: recipe_search_recipes_path, method: "GET", data: {turbo_frame: "recipes" }) do |f| %>
  <%= f.fields_for :filters do |ft| %>
    <div class="filters">


      <div class="type">
        <%= select_mealtypes(ft, types: @meal_types, type: @meal_type) %>
      </div>

      <div class="type">
        <%= select_coursetypes(ft, types: @course_types, type: @course_type) %>
      </div>

    </div>

  <div class="bar">
    <div class="option">
      <%= ft.label "Filter by: " %>
      <%= ft.select :health, Recipe::SEARCH_CRITERIA[:DIETARY_FILTERS] %>
    </div>
  <% end %>
    <div class="input">
      <%= f.label :query, "Search for:" %>
      <%= f.text_field :query, multiple: true %>
    <%= f.submit "Search", name: nil, class: "btn btn--light" %>
    </div>
  </div>
  <%= hidden_field_tag :title, yield(:title) %>
  <% if @meal_ids.present? %>
    <%= hidden_field_tag 'meal_ids', @meal_ids %>
  <% elsif @meal.present? %>
    <%= hidden_field_tag 'meal_id', @meal.id %>
    <%= hidden_field_tag 'menu_id', @menu.id %>
  <% end %>
<% end %>
