
<%= form_with(url: recipe_search_recipes_path, method: "GET", data: {turbo_frame: "recipes" }) do |f| %>
  <%= f.fields_for :filters do |ft| %>
    <div class="filters">

        <% if @meal_type.present? %>
          <div class="type">
            <%= ft.hidden_field :mealType, value: @meal_type %>
          </div>
        <% else %>
          <div class="type">
            <h6>Select Meal type:</h6>
            <div class="radio-btns">
              <% Recipe::SEARCH_CRITERIA[:MEAL_TYPES].each do |meal_type| %>
                <div class="radio-item">
                  <%= ft.radio_button :mealType, meal_type, class: "radio-btn btn--pill btn--pill--meal" %>
                  <%= ft.label "mealType_#{meal_type}", meal_type.capitalize %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
<div class="type">
  <div class="radio-btns">
    <%= select_types(type: @meal_type, types: @meal_types, btn_type: 'meal') %>
  </div>
</div>


      <div class="type">
        <% if @course_type.present? %>
          <%= ft.hidden_field :dishType, value: @course_type %>
        <% else %>
          <h6>Select Course type:</h6>
          <div class="radio-btns">
            <% Recipe::SEARCH_CRITERIA[:COURSE_TYPES].each do |course_type| %>
              <div class="radio-item">
                <%= ft.radio_button :dishType, course_type, class: "radio-btn btn--pill btn--pill--course" %>
                <%= ft.label "dishType_#{course_type.split(" ").join("_")}", course_type.capitalize %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <div class="bar">
    <div class="option">
      <%= ft.label "Filter by: " %>
      <%= ft.select :health, Recipe::SEARCH_CRITERIA[:DIETARY_FILTERS] %>
    </div>
  <% end %>
    <div class="input">
      <%= f.label :query, "Search for:" %>
      <%= f.text_field :query, multiple: true %>
    <%= f.submit "Search", name: nil, class: "btn btn--light" %>
    </div>
  </div>
  <%= hidden_field_tag :title, yield(:title) %>
  <% if @meal_ids.present? %>
    <%= hidden_field_tag 'meal_ids', @meal_ids %>
  <% elsif @meal.present? %>
    <%= hidden_field_tag 'meal_id', @meal.id %>
    <%= hidden_field_tag 'menu_id', @menu.id %>
  <% end %>
<% end %>
