<div class="container">
<%= form_with(url: recipes_path, method: "GET", data: {turbo_frame: "recipes" }) do |f| %>
  <%= f.label :query, "Search for:" %>
  <%= f.text_field :query, multiple: true %>
  <%= f.fields_for :filters do |ft| %>
    <%= ft.label "Filter by: " %>
    <%= ft.select :mealType, @meal_types %>
    <%= ft.select :dishType, @dish_type %>
    <%= ft.select :health, @health %>
  <% end %>
  <%= f.submit "Search", name: nil %>
<% end %>
</div>
