<%= form_with(url: recipe_search_recipes_path, method: "GET", class:"search-bar", data: {turbo_frame: "recipes" }) do |f| %>
    <% title = yield :title %>
  <%= f.fields_for :filters do |ft| %>
    <div class="filters">
      <ul class="details">
        <%= filter_dietary(dietary: @dietary_restrictions) %>
      </ul>
      <%= ft.hidden_field :mealType, name:"[filters][mealType]", value: @meal_type, data: { target: 'recipe-search-filter.mealSearchFilter' } %>
      <%= ft.hidden_field :dishType, name:"[filters][dishType]", value: @course_type, data: { target: 'recipe-search-filter.courseSearchFilter' }  %>
      <%= ft.hidden_field :health, name:"[filters][health][]", multiple: true, value: @dietary_restrictions %>
    </div>
  <% end %>
    <div class="bar">
        <%# f.label :query, "Search for:" %>
      <%= f.text_field :query, multiple: true, class: "input", placeholder: "Enter ingredient or recipe name" %>
      <%= f.submit "Search", name: nil, class: "btn btn--light" %>
    </div>

  <%# Send info to recipe#search controller for recipe rendering %>
  <%= hidden_field_tag :title, yield(:title) %>
  <% if title == "Meal Planner" %>
    <%= hidden_field_tag 'course_type', @course_type, data: { target: 'course-new-form.formCourseType' } %>
  <% end %>

  <% if @meal_ids.present? %>
    <%= hidden_field_tag 'meal_ids', @meal_ids %>
  <% elsif @meal.present? %>
    <%= hidden_field_tag 'meal_id', @meal.id %>
    <%= hidden_field_tag 'menu_id', @menu.id %>
    <%= hidden_field_tag 'course_id', @course.id %>
  <% end %>

<% end %>
