<div class="container">
<h1>Recipe Index page</h1>
<div class="container">
<%= form_with url: "/recipes/index", method: 'get', local: true do |f| %>
  <%= f.label :query, "Search for:" %>
  <%= f.text_field :query, multiple: true %>
  <%= f.fields_for :filters do |ft| %>
    <%= ft.label "Filter by: " %>
    <%= ft.select :mealType, @meal_type %>
    <%= ft.select :dishType, @dish_type %>
    <%= ft.select :health, @health %>
  <% end %>
  <%= f.submit "Search" %>
<% end %>
</div>
<br>

<br>
  <%# <%= @response %>
<div class="card-deck">
  <%= render 'meals/recipe_card' %>
</div>
