
<h1>Recipes New page</h1>
<div class="container">
<%= form_with url: "/recipes/new", method: 'get', local: true do |f| %>
  <%= f.label :query, "Search for:" %>
  <%= f.text_field :query, multiple: true %>
  <%= f.fields_for :filters do |ft| %>
    <%= ft.label "Filter by: " %>
    <%= ft.select :mealType, @meal_type %>
    <%= ft.select :dishType, @dish_type %>
    <%= ft.select :health, @health %>
  <% end %>
  <%= f.submit "Search" %>
<% end %>
</div>
<br>
  
<br>
  <%# <%= @response %>
<div class="card-deck">
  <%= render 'recipe-card' %>
</div>




<%# @recipes.each do |r|
 <p> r[:recipe][:label] </p>
 <p> r[:recipe][:source] </p>
 end  %>
