<h1>Recipes New page</h1>
<div class="container">
<%= form_with url: "/recipes/new", method: 'get', local: true do |f| %>
  <%= f.label :query, "Search for:" %>
  <%= f.text_field :query, multiple: true %>
  <%= f.submit "Search" %>
<% end %>
</div>
<br><br>
<div class="container">
<% @recipes.each do |r| %>
  <p><%= r.label %></p>
  <p><%= r.source %></p>
  <p><%= r.yield %></p>


<% end %>
</div>




<%# @recipes.each do |r|
 <p> r[:recipe][:label] </p>
 <p> r[:recipe][:source] </p>
 end  %>
