<%- title "Recipe" %>

<div class="container">
  <div class="header">
  <h1>Recipes Show page</h1>
  </div>
  <div class="section-cards">
    <div class="card-deck">
      <%= turbo_frame_tag @recipe.erecipe_id do %>
        <div class="card-recipe">

          <div class="card-recipe-show__body">
            <div class="content-header">
              <p><%= @recipe.label %></p>
              <p><%= @recipe.source %></p>
            </div>
            <div class="content-body">
              <ul class="details">
                <li class="item">
                  <i class="fa-solid fa-user"></i>
                  <span class="value"><%= @recipe.yield %></span>
                </li>
                <li class="item">
                  <i class="fa-solid fa-book-open"></i>
                  <span class="value"><%= @recipe.ingredients.count %></span>
                </li>
              </ul>
              <%= link_to "", recipes_path(recipe: @recipe) %>
            </div>
          </div>
          <div class="card-recipe-show__footer">
            <ul class="list">
              <% @recipe.ingredients.each do |i| %>
                <li><%= i['text'] %></li>
              <% end %>
            </ul>
          </div>

        </div>
      <% end %>
    </div>
  </div>

</div>
