<%= turbo_frame_tag dom_id(user), class: "card-user card-user--bg-light" do %>
    <div class="card-user__header">
        <svg class="card-user__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
    </div>
    <div class="card-user__body">
      <div class="card-user__body-header">
        <% full_name = "#{user.name_first}"" ""#{user.name_last}" %>
        <h2><%=  link_to full_name,
                    user_path(user),
                    class: "card-user__name",
                    data: { turbo_frame: "_top"} %></h2>
        <div class="card-user__actions">
            <%= link_to "",
                        edit_user_path(user),
                        class: "btn btn--edit fa-solid fa-pen-to-square" %>
            <%= button_to "",
                          user_path(user),
                          method: :delete,
                          class: "btn btn--stop fa-solid fa-circle-minus",
                          data: { turbo_confirm: "Are you sure?" } %>
        </div>

      </div>
      <div class="card-user__body-content">
        <div class="filtered">
          <% dietary = user.dietary_restrictions.map { |dr| dr.health.parameter } %>
          <div class="filter__title">
            <h6>Dietary Restrictions</h6>
          </div>
          <div class="filtered__list">
          <%= filter_dietary(dietary:) %>
          </div>
        </div>
      </div>
    </div>
<% end %>
