<%- title "Meal Planner" %>
<div class="body body--recipes"
      id="<%= yield(:title) %>"
      data-controller="course-new-form refresh-frame turbo-modal recipe-search-filter"
      data-course-type="<%= @course_type %>"
      data-meal-ids="<%= @meal_ids.join(", ") %>"
>
  <%= render 'shared/searchbar'%>
  <%= render 'shared/sidebar' %>
  <%= render "recipes/recipes", recipes: @recipes, locals: { title: yield(:title) } %>

</div>
