<%- title "Meal Planner" %>
<div class="section-recipe"
      id="<%= yield(:title) %>"
      data-course-type="<%= @course_type %>"
      data-meal-ids="<%= @meal_ids.join(", ") %>"
      data-controller="course-type-radio-selector refresh-frame turbo-modal radio-selection"
      data-course-type-radio-selector-target="setter">

  <%= render 'shared/searchbar'%>
  <%= render 'shared/sidebar' %>
  <div class="section-cards">
    <div id="gList"></div>
    <%= render "recipes/recipes", recipes: @recipes, locals: { title: yield(:title) } %>
  </div>
</div>
