<header class="navbar">
      <ul class="navbar__nav">
        <li class="navbar__border">
          <%= link_to root_path, class:"navbar__brand nav-btn" do %>
            <i class="fa-regular fa-calendar-days"></i>
          <% end %>
        </li>
      <% if user_signed_in? %>
        <li class="navbar__item navbar__border nav-btn">
          <%= link_to "Menu", menus_path %>
        </li>
        <li class="navbar__item navbar__border nav-btn">
          <%= link_to "Recipes", recipes_path %>
        </li>
        <li class="navbar__item navbar__border nav-btn">
          <%= link_to "Products", products_path %>
        </li>
        <li class="navbar__item navbar__border nav-btn">
          <%= link_to "Grocery List", groceries_path %>
        </li>
        <li class=" navbar__border dropdown">
          <a href="#" class="avatar navbar__dropdown  nav-btn" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <p>Welcome back <%= current_user.name_first %></p>
            <%= link_to "Household", household_path(current_user.household_id) , class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <div class="btn>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
    </ul>


</header>
