<div class="search-section">
  <div class="search-section__filters">
    <div class="meal-filters">
      <ul class="details">
        <%= filter_types(type: @meal_type) %>
        <%= filter_types(type: @course_type) %>
      </ul>
      <ul class="details">
        <%= filter_users(users: @users) %>
        <%= filter_users(users: @user) %>
      </ul>
      <ul class="details">
        <%= filter_dates(dates: @menus) %>
        <%= filter_dates(dates: @menu) %>
      </ul>
    </div>
  </div>
  <div class="search-section__body">
    <div class="search-bar">
      <%= render 'recipes/search_form' %>
    </div>
  </div>
  <div class="search-section__courses">
    <% unless @course_recipes.nil? %>
      <% @course_types.each do |course_type| %>
        <div class="section">
          <span class="title"><h6><%= course_type.split.first.capitalize.pluralize %>:</h6></span>
          <div class="courses">
            <%= render @courses.select { |course| course.course_type == course_type },
                                        recipes: @course_recipes,
                                        recipe_keyes: @recipes_with_course_id %>
          </div>
        </div>
      <% end %>
      <div class="footer">
        <%= link_to "DONE", menus_path, class: "btn btn--ligth" %>
      </div>
    <% end %>
  </div>
</div>
