<div class="sidebar">
   <% title = yield :title %>
    <% if title == "Meal Planner" %>
      <div class="sidebar__filters">
        <div class="filters">
          <ul class="details">
            <%= filter_users(users: @users) %>
            <%= filter_users(users: @user) %>
          </ul>
          <ul class="details">
            <%= filter_dates(dates: @menus) %>
            <%= filter_dates(dates: @menu) %>
          </ul>
          <ul class="details">
            <%= filter_types(type: @meal_type) %>
          </ul>
        </div>
      </div>
      <div class="sidebar__courses">
        <div class="radio-btns">
            <%= select_filter_course_types(course_types: @course_types) %>
        </div>
        <div>
          <%= link_to "Done Planning", menus_path, class: "btn btn--light" %>
          <div id="refreshCourses"></div>
        </div>
        <%= turbo_frame_tag id="planner_courses",
                            src: courses_path(meal_ids: @meal_ids),
                            data: { refresh_frame_target: "plannerCourses" } %>
      </div>
    <% end %>

    <% if title == "Recipes" %>
      <div class="sidebar__filters">
        <div class="filters">
          <ul class="details">
            <%= select_filter_meal_types(meal_types: @meal_types)  %>
          </ul>
          <ul class="details">
            <%= select_filter_course_types(course_types: @course_types)  %>
          </ul>

        </div>
      </div>

    <% end %>
</div>
