<div class="sidebar">

   <% title = yield :title %>
    <% if title == "Meal Planner" %>
      <div class="sidebar__filters filters-section">
        <div class="filtered">
          <div class="filtered__title filtered__title-light">
            <h3>Household diners:</h3>
          </div>
          <ul class="filtered__list">
                  <%= filter_users(users: @users) %>
                  <%= filter_users(users: @user) %>
          </ul>
        </div>
        <div class="filtered">
          <div class="filtered__title filtered__title-light">
            <h3>Dates:</h3>
          </div>
          <ul class="filtered__list">
              <%= filter_dates(dates: @menus) %>
          </ul>
          <ul class="filtered__list">
              <%= filter_types(type: @meal_type) %>
          </ul>


        </div>
      </div>
      <div class="sidebar__planner">
        <div class="filtered">
          <div class="filtered__title filtered__title-light">
            <h3>Select courses for <%= @users.count * @menus.count %> Servings of</h3>
          </div>

          <ul class="filtered__list">
            <%= select_radio_course_types(course_types: @course_types)  %>
          </ul>
        </div>
        <div class="footer">
          <div id="refreshCourses"></div>
        </div>
      </div>
      <div class="sidebar__courses ">
         <div class="sidebar__courses-header">
          <h3>Selected Courses:</h3>
        </div>
        <div class="sidebar__courses-content">
          <%= turbo_frame_tag id="courses", class: "section--cards-courses",
                        src: courses_path(meal_ids: @meal_ids),
                        data: { refresh_frame_target: "plannerCourses" } %>
        </div>
      </div>
    <% end %>



    <% if title == "Recipes" %>
      <div class="sidebar__filters filters-section">
        <div class="filtered">
          <div class="filtered__title filtered__title-light">
            <h3>Select Meal type to filter</h3>
          </div>
          <ul class="filtered__list">
            <%= select_radio_meal_types(meal_types: @meal_types)  %>
          </ul>
        </div>
        <div class="filtered">
          <div class="filtered__title filtered__title-light">
            <h3>Select Course type to filter</h3>
          </div>
          <ul class="filtered__list">
            <%= select_radio_course_types(course_types: @course_types)  %>
          </ul>
        </div>
      </div>
    <% end %>
</div>
