<%= form_with url: edit_multiple_groceries_path, method: 'patch', class: 'grocery-list grocery-list--dark' do |form| %>
  <div class="grocery-list__header grocery-list__header--light">
    <div class="g-list-item">
      <div class="g-list-item__actions"></div>
      <div class="g-list-item__name">Name</div>
      <div class="g-list-item__category">Category</div>
      <div class="g-list-item__qty">Qty</div>
      <div class="g-list-item__msr">Msr</div>
      <div class="g-list-item__qty">Qty</div>
      <div class="g-list-item__msr">Msr</div>
    </div>
  </div>
  <div class="grocery-list__content grocery-list__content--light-on-dark"
              data-controller="grocery-item">
    <% n = 0 %>
    <% groceries.each do |item| %>
      <% n += 1 %>
      <%= fields_for 'product'+[n].to_s do |fields| %>
        <div class="g-list-item g-list-item--light-on-dark"
             data-grocery-item-target="gItemList">
          <%= fields.check_box :list_add, checked: false, class: "toggle",
                      data: { action: "click->grocery-item#selectGListItem" } %>
          <%= fields.label "", for: "product_#{n}_list_add", class:"g-list-item__action" %>

          <%= fields.label item[:n], class:"g-list-item__name" %>
          <%= fields.label item[:cat].join(", "), class:"g-list-item__category" %>

          <% if item[:base_vol_msr].blank? || item[:base_vol_msr].nil? %>
            <%= fields.label item[:q], class: "g-list-item__other-qty" %>
            <%= fields.label item[:m], class:"g-list-item__other-msr" %>
          <% else %>
            <%= fields.label item[:base_vol_qty], class: "g-list-item__vol-qty" %>
            <%= fields.label item[:base_vol_msr], class:"g-list-item__vol-msr" %>
          <% end %>

          <%= fields.label item[:base_wgt_qty], class: "g-list-item__wgt-qty" %>
          <%= fields.label item[:base_wgt_msr], class:"g-list-item__wgt-msr" %>

          <%= fields.hidden_field :g_ids, for: "product_#{n}_g_ids", multiple: true, value: item[:g_ids] %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="grocery-list__footer">
    <%= form.submit "Finished Shopping", class: "btn btn-dark" %>
  </div>
<% end %>
