
  <div>
    <%= form_with url: '/groceries' do |form|  %>
      <%= form.hidden_field :course_ids, value: @course_ids %>
      <% n = 0 %>
      <% @recipe.ingredients.each do |ingredient| %>
        <% n += 1 %>
        <%= fields_for 'grocery'+[n].to_s do |fields| %>
          <%= fields.check_box :list_add, checked: true, class: "toggle" %>

          <%= fields.label ingredient['food'], for: "grocery_#{n}_list_add" %>
          <%= fields.hidden_field :name, value: ingredient['food'] %>

          <%= fields.label ingredient['quantity'], for: "grocery_#{n}_list_add"  %>
          <%= fields.hidden_field :quantity, value: ingredient['quantity'] %>

          <% if  ingredient['measure'].present?  %>
            <%= fields.label ingredient['measure'], for: "grocery_#{n}_list_add"  %>
            <%= fields.hidden_field :measurement, value: ingredient['measure'] %>
          <% else %>
            <%= fields.label "<Pinch>", for: "grocery_#{n}_list_add"  %>
            <%= fields.hidden_field :measurement, value: "<Pinch>" %>
          <% end %>

          <% if ingredient['foodCategory'].present? %>
            <%= fields.label ingredient['foodCategory'], for: "grocery_#{n}_list_add"  %>
            <%= fields.hidden_field :category, value: ingredient['foodCategory'] %>
          <% else %>
            <%= fields.label "<Blank>", for: "grocery_#{n}_list_add"  %>
            <%= fields.hidden_field :category, value: "<Blank>" %>
          <% end %>

          <%= fields.hidden_field :course_ids, value: @course_ids %>
          <%= fields.hidden_field :household, value: @household %>
          <%= fields.hidden_field :erecipe_id, value: @erecipe_id %>
        <% end %>
        <hr>
      <% end %>
    <%= form.submit "Add gList items" %>
    <% end %>
    <% if @course_ids.size == 1 %>
      <%= button_to "Cancel",
                    [@menu, @meal, @course],
                    method: :delete,
                    class: "btn" %>
    <% else %>
      <%= button_to "Cancel",
                    multi_destroy_meals_path(course_ids: @course_ids,
                                          user_ids: @users,
                                          menu_ids: @menus,
                                          meal_type: @meal_type),
                    method: :delete,
                    class: "btn" %>
    <% end %>

  </div>
