
  <div>
    <%= form_with url: '/groceries' do |form|  %>
      <%= form.hidden_field :course_ids, value: @course_ids %>
      <% n = 0 %>
      <% @recipe.ingredients.each do |ingredient| %>
        <% n += 1 %>
        <%= fields_for 'grocery'+[n].to_s do |fields| %>
          <%= fields.check_box :list_add, checked: true %>
          <%= fields.hidden_field :course_ids, value: @course_ids %>
          <%= fields.hidden_field  :household_id, value: @household.id %>
          <%= fields.hidden_field  :erecipe_id, value: @erecipe_id %>

          <%= fields.label ingredient['food'] %>
          <%= fields.hidden_field :name, value: ingredient['food'] %>

          <%= fields.label ingredient['quantity'] %>
          <%= fields.hidden_field :quantity, value: ingredient['quantity'] %>

          <% if  ingredient['measure'].present?  %>
            <%= fields.label ingredient['measure'] %>
            <%= fields.hidden_field :measurement, value: ingredient['measure'] %>
          <% else %>
            <%= fields.label "<Pinch>" %>
            <%= fields.hidden_field :measurement, value: "<Pinch>" %>
          <% end %>

          <%= fields.label ingredient['foodCategory'] %>
          <%= fields.hidden_field :category, value: ingredient['foodCategory'] %>

        <% end %>
        <hr>
      <% end %>
      <%= link_to "Cancel", "#", class: "btn" %>
      <%= form.submit "Add gList items" %>
    <% end %>
  </div>
