<div class="container">

  <div>
    <%= form_with url: '/groceries' do |form|  %>
      <% n = 0 %>
      <% @recipe.ingredients.each do |i| %>
        <% n += 1 %>
        <hr>
        <%= fields_for 'grocery'+[n].to_s do |fields| %>
          <%= fields.check_box :list_add, checked: true %>
          <%= fields.hidden_field  :household_id, value: @household.id %>
          <%= fields.hidden_field  :erecipe_id, value: @erecipe_id %>
          <%= fields.label i['food'] %>
          <%= fields.hidden_field :name, value: i['food'] %>
          <%= fields.label i['quantity'] %>
          <%= fields.hidden_field :quantity, value: i['quantity'] %>
          <% if  i['measure'].present?  %>
            <%= fields.label i['measure'] %>
            <%= fields.hidden_field :measurement, value: i['measure'] %>
          <% else %>
            <%= fields.label "<Pinch>" %>
            <%= fields.hidden_field :measurement, value: "<Pinch>" %>
          <% end %>
          <%= fields.label i['foodCategory'] %>
          <%= fields.hidden_field :category, value: i['foodCategory'] %>
        <% end %>
      <% end %>
      <hr>
    <%= form.submit "Add gList items" %>
    <% end %>
  </div>
</div>
