

<% @course_types.each do |course_type| %>
  <div class="course-item">
    <div class="card-course__action">
      <%= link_to new_menu_meal_course_path(@menu, @meal,
                course_type: course_type),
                class: "btn" do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    </div>
    <div class="card-course__details">
      <h5><%= course_type.capitalize %>s:</h5>
    </div>
  </div>
    <%= render @courses.select { |course| course.course_type == course_type },
                        meal: @meal,
                        recipes: @meal_recipes  %>
<% end %>



<% @course_types.each do |course_type| %>
  <div class="course-item">
    <div class="card-course__action">
      <%= link_to new_menu_meal_course_path(@menu, @meal,
                course_type: course_type),
                class: "btn" do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    </div>
    <div class="card=course__details">
      <h5><%= course_type.capitalize %>s:</h5>
    </div>
  </div>
  <% unless @courses.find_by(course_type: course_type).nil? %>
    <%= render @courses.where(course_type: course_type),
                        meal: @meal,
                        recipes: @recipes  %>
  <% else %>
  <% end %>
<% end %>
