<%= form_with url: planner_meals_path, method: 'get' do |f| %>
  <div class="form-body form__body">
    <p>Select Meal</p>
    <div class="radio-btns" >
      <% @meal_types.each do |meal_type| %>
        <div class="radio-item">
          <%= f.radio_button :meal_type, meal_type, class: "radio-btn btn--pill btn--pill--meal" %>
          <%= f.label "meal_type_#{meal_type.downcase}", meal_type.capitalize %>
        </div>
      <% end %>
    </div>
    <p>Select Diners</p>
    <div class="checkboxes">
      <%= f.collection_check_boxes :user_ids,
                                   @users,
                                   :id,
                                   :name_first,
                                   include_hidden: false do |b| %>
        <%= b.check_box class: "check_box btn--pill btn--pill--user" %>
        <%= b.label  %>
      <% end %>
    </div>
    <p>Select Days</p>
    <div class="checkboxes">
      <%= f.collection_check_boxes :menu_ids,
                                   @menus.ordered,
                                   :id,
                                   :day_of_week,
                                   include_hidden: false do |b| %>
        <%= b.check_box class: "check_box btn--pill btn--pill--date" %>
        <%= b.label  %>
      <% end %>
    </div>

      <%= f.submit "Next", class: "btn btn--dark" %>
      <%= link_to "Cancel", menus_path, class: "btn btn--dark"  %>
  </div>
<% end %>
