
  <div >
    <%= form_with url: "/meals/new", method: 'get' do |f| %>
      <div class="mb-3" data-meal-new-target="getType">
        <%= f.select :meal_types, @meal_types, { prompt: "Select meal" } %>
      </div>
      <div class="mb-3" data-meal-new-target="getUserID">
        <%= f.collection_check_boxes(:user_ids, @users, :id, :name_first, include_hidden: false) %>
      </div>
      <div class="mb-3" data-meal-new-target="getMenuID">
        <%= f.collection_check_boxes(:menu_ids, @menus, :id, :day_of_week, include_hidden: false) %>
      </div>
        <%= f.submit "Next" %>
    <% end %>
  </div>
