
<%= form_with url: "/courses/new", method: :post do |f| %>
  <div class="mb-3">
  <%= f.collection_check_boxes :menu_ids, @menus, :id, :date, include_hidden: false %>
  </div>
  <div class="mb-3">
  <%= f.collection_check_boxes :user_ids, @users, :id, :name_first, include_hidden: false %>
  </div>
  <div class="mb-3">
  <%= f.select :meal_type, collection: @meal_type, reqruied: true, prompt: "Choose Meal" %>
  </div>
  <div class="mb-3">
  <%= f.submit %>
  </div>
<% end %>
<div>

</div>
