<% @recipes.each do |r| %>
  <div class="recipe-card">
    <div class="text-center">
      <%= image_tag recipe.image, size: "100" %>
    </div>
    <div class="card-body">
      <ul>
        <li>Name: <%= link_to recipe.label, recipe_path(recipe.erecipe_id  ) %></li>
        <li>Source: <%= recipe.source %></li>
        <li>Servings: <%= recipe.yield %></li>
      </ul>
    </div>
    <div class="card-footer">
      <%= form_with url: meals_path do |f| %>
        <%# <%= f.hidden_field :erecipe_id, value: recipe.erecipe_id %> %>
        <%= f.hidden_field :course_type, value: params[:filters][:dishType] %>
        <%= f.hidden_field :meal_ids, name:"meal_ids[]", mutliple: true, value: @meals %>
        <%= f.submit "Add Course" %>
      <% end %>
    </div>
  </div>
<% end %>
