<div class="container">
  <h1>New Meal page</h1>
  <div>
  <!-- Section of currently selction meal options-->
    <ul>
      <% @menu_ids.each do |menu_id| %>
      <li><%= Menu.find(menu_id).day_of_week %></li>
      <% end %>
    </ul>
    <ul>
      <%  @user_ids.each do |user_id| %>
        <li><%= User.find(user_id).name_first %></li>
      <% end %>
    </ul>
    <ul>
      <li><%= @meal_type %></li>
    </ul>
  </div>
  <div>
    <ul>
      <% Meal.find(@meals.first).courses.each do |course| %>
        <li><%= course.course_type %></li>
        <li><%= Course.find(course.id).erecipe_id %></li>
      <% end %>
    </ul>
  </div>
<!-- Stimulus recipce search -->
  <div class="text-center">
      <%= form_with url: new_meal_path, method: 'get', local: true do |f| %>
        <%= f.label :query, "Search for:" %>
        <%= f.text_field :query, multiple: true %>
        <%= f.fields_for :filters do |ft| %>
          <%= ft.label "Filter by: " %>
          <%= ft.select :mealType, @meal_types %>
          <%= ft.select :dishType, @dish_type %>
          <%= ft.select :health, @health %>
        <% end %>
        <%= f.submit "Search" %>
      <% end %>
  </div>
  <div class="card-deck">
    <%= render 'recipe_card' %>
  </div>
</div>
