<div class="container" data-controller="meal-new">

  <div class="row">
    <div class="" data-controller="turbo-modal">
      <div class="card m-4 ">
        <div class="card-header">
          <h2 class="card-title">Create Create</h2>
        </div>
        <div class="card-body" >
          <%= form_with url: "/meals/new" do |f| %>
            <div class="mb-3" data-meal-new-target="getMenuID">
              <%= f.collection_check_boxes(:menu_ids, @menus, :id, :date, include_hidden: false)  %>

            </div>
            <div class="mb-3" data-meal-new-target="getUserID">
              <%= f.collection_check_boxes(:user_ids, @users, :id, :name_first, include_hidden: false) %>

            </div>
            <div class="mb-3" data-meal-new-target="getType" >
              <%= f.select :meal_type, @meal_type  %>
            </div>
            <div>

            </div>

            <%= link_to "Finish Meal", "#", data: { action: "click->meal-new#setMeal" } %>
          <% end %>
        </div>
        <div class="card-footer text-muted mt-2" >
        </div>
      </div>
    </div>
  </div>


  <div class="container" >
    <%= form_with url: "/meals" do |f| %>
    <div class="mb-3">



    </div>
    <div class="mb-3">
      <%= f.hidden_field :menu_ids, multiple: true,  data: { target: 'meal-new.setMenuID' } %>
    </div>
    <div class="mb-3">
      <%= f.hidden_field :user_ids, multiple: true, value: :user_ids, data: { target: 'meal-new.setUserID' } %>
    </div>
    <div class="mb-3">
      <%= f.hidden_field :meal_type, value: :meal_type, data: { target: 'meal-new.setType' } %>
    </div>
    <div class="mb-3">
      <%= f.submit %>
    </div>
  <% end %>
  </div>

<div class="container">
  <%= render '/meals/new_meal' %>
</div>
</div>
