

  <div class="row">
    <div class="" data-controller="turbo-modal">
      <div class="card m-4 ">
        <div class="card-header">
          <h2 class="card-title">Create Create</h2>
        </div>
        <div class="card-body">
          <%= form_with url: "/meals/new", data: { controller: 'meal-new'} do |f| %>
            <div class="mb-3" data-meal-new-target="setMenuID">
              <%= f.collection_check_boxes(:menu_ids, @menus, :id, :date, include_hidden: false) do |b| %>
                <%= b.label { b.check_box(checked: true) + b.text } %>
              <% end %>
            </div>
            <div class="mb-3" data-meal-new-target="setUserID">
              <%= f.collection_check_boxes(:user_ids, @users, :id, :name_first, include_hidden: false) do |b| %>
                <%= b.label { b.check_box(checked: true) + b.text } %>
              <% end %>
            </div>
            <div class="mb-3" data-meal-new-target="setType" >
              <%= f.select :meal_type, @meal_type, prompt: "Choose Meal" %>
            </div>
            <div>

            </div>

          <% end %>
        </div>
        <div class="card-footer text-muted mt-2" data-target="meal-new.addMeal">
          <%= link_to "Finish Meal", "#", data: { action: "click->meal-new#setMeal" } %>
        </div>
      </div>
    </div>
  </div>


<div class="container">
  <p></p>
</div>
