<%- title "Multi-Meal" %>
<div class="container">
  <div class="header">
  <h5>Multi-Course creation on Meal#New page</h5>
  <p>Title page: <%= yield(:title) %></p>
  <!-- Section of currently selction meal options-->
    <ul>
      <% @menus.each do |menu| %>
      <li><%= Menu.find(menu.id).day_of_week %></li>
      <% end %>
    </ul>
    <ul>
      <% @users.each do |user| %>
        <li><%= User.find(user.id).name_first %></li>
      <% end %>
    </ul>
    <ul>
      <li><%= @meal_type %></li>
    </ul>
    <ul>
      <li>Courses: based on course_type </li>
    </ul>

  <%# Below is an issue. Not all meals have same course(s). Overwriting logic necessary %>
  <%# This would be the Meal partial for Course %>

     <%# @meals.each do |meal|
        <li>Meal.find(meal).id
          Meal.find(meal).courses.each do |course|
          <li>course.course_type</li>
          <li>Course.find(course.id).erecipe_id</li>
          end
        </li>
      end %>

  </div>
<!-- Recipce search -->

  <%= render 'recipes/search_bar' %>
  <br>
  <%= render "recipes/recipes", recipes: @recipes, locals: { title: yield(:title) } %>

</div>
