<%- title "Meal Show" %>
<div class="container">
  <div class="header">
    <h2>Meal show page: User meal</h1>
    <ul>
      <li><p>User: <%= User.find(@meal.user_id).name_first %></p></li>
      <li><p>Date: <%= @menu.day_of_week %></p></li>
      <li><p>Meal: <%= @meal.meal_type %></p></li>
    </ul>
    <h4>Courses: </h4>
  </div>

  <div class="menu">
    <div class="card-menu-meal__body">
      <%= turbo_frame_tag "meal_#{@meal.id}" do %>
        <%= render @meal %>
      <% end %>
    </div>
  </div>
</div>
