<div class="container">
  <div class="header">
    <h1>Meal show page</h1>
    <p>User: <%= User.find(@meal.user_id).name_first %></p>
    <p>Date: <%= @menu.day_of_week %></p>
    <p>Meal: <%= @meal.meal_type %></p>
  </div>
  <div>
    <h4>Courses: </h4>
  </div>
  <div>
  </div>

  <div class="card-menu-meal__body">
    <div class= "card-menu-meal-user">
      <div class="card-menu-meal-course__header">
        <p>Courses for: <%= User.find(@meal.user_id).name_first %></p>
        <%= link_to "X", menus_path, class: "btn" %>
      </div>
      <div class="card-menu-meal-course__body">
        <%= render @courses, meal: @meal %>
        <div class="card-course">
          <div class="card-course__action">
          <%= link_to "Add Course", new_menu_meal_course_path(@menu, @meal), class: "btn btn--light" %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
