<div class="card-course card-course--tiny">
    <% recipe = recipes.select { |recipe| recipe.erecipe_id == course.erecipe_id }.first %>
  <div class="card-course__img">
    <%= image_tag recipe.image %>
  </div>
  <div class="card-course__details">
    <p><%= recipe.label %></p>
  </div>
  <div class="card-course__action">
    <% if @meal.present?  %>
      <%= button_to "",
                    edit_menu_meal_course_path(@menu, @meal, course),
                    class: "btn fa-solid fa-pen-to-square",
                    target: :_top %>
      <%= button_to "",
                    [@menu, @meal, course],
                    method: :delete,
                    class: "btn fa-solid fa-circle-minus" %>
    <% else %>
      <%= button_to "",
                    multi_destroy_meals_path(courses: recipe_keyes[course.erecipe_id]),
                    method: :delete,
                    class: "btn fa-solid fa-circle-minus" %>
    <% end %>
  </div>
</div>
