<head><meta name="turbo-visit-control" content="reload"></head>

<%- title "Course" %>
<div class="container">
  <div class="header">
    <h4>Add Course for:</h4>
    <ul class= "">
      <li><%= @menu.day_of_week %></li>
      <li><%= @meal_type %></li>
      <li><%= @course_type %></li>
      <li><%= @meal.user.name_first %></li>
    </ul>
    <h4>Title page: <%= yield(:title) %></h4>
  </div>
  <%= render 'recipes/search_bar' %>
  <hr>
  <div>
    <%= render "recipes/recipes", recipes: @recipes, locals: { title: yield(:title) } %>
  </div>
</div>
