<div>
  <div class="recipe-card">
    <div class="card-header">
      <div class="text-center">
        <%= image_tag product.kroger_img("front", "thumbnail") %>
      </div>
    </div>
    <div class="card-body">
      <ul><small>
        <li>Name: <%= product.name %></li>
        <li>Brand: <%= product.brand %></li>
        <li>Aisle#: <%= product.aisle %></li>
        <li>Servings: <%= product.item_info.first["size"] %></li>
        <li>Unit: <%= product.item_info.first["soldBy"] %></li></small>
      </ul>
    </div>
    <div class="card-footer">

    </div>
  </div>
</div>
