<div>
  <div class="recipe-card">
    <div class="card-header">
      <div class="text-center">
        <%= image_tag product.images["sizes"].second["url"], size: "100" %>
      </div>
    </div>
    <div class="card-body">
      <ul><small>
        <li>Name: <%= product.name %></li>
        <li>Brand: <%= product.brand %></li>
        <li>UPC: <%= product.upc %></li>
        <li>ID#: <%= product.kproduct_id %></li>
        <li>Servings: <%= product.item_info.first["size"] %></li>
        <li>Unit: <%= product.item_info.first["soldBy"] %></li></small>
      </ul>
    </div>
    <div class="card-footer">

    </div>
  </div>
</div>
