<%= turbo_stream.append "recipe_cards" do %>
    <%= render @recipes, locals: { title: @title } %>
<% end %>


<% if @next_page[:links].present? %>
  <%= turbo_stream.replace "fetch-recipes" do %>
    <%= turbo_frame_tag "fetch-recipes",
      src: fetch_recipes_path(href: @next_page[:links][:href],
                              title: @title,
                              count: @next_page[:count],
                              total: @next_page[:total],
                              format: :turbo_stream),
      loading: :lazy do %>
      Fetching more recipes .... ... .. .
      <% end %>
  <% end %>
  
  <%= turbo_stream.replace "apply_course" do %>
    <div id="apply_course" data-course-new-form-target="newRecipes"></div>
  <% end %>
<% end %>
