<%- title "Household" %>
<main class="container">
  <div class="headeer">
    <h1>Households#show</h3>
    <h3>Household name: <%= current_user.household.name %></h1>
    <%= link_to "Add a User",
                new_user_path,
                data: { turbo_frame: dom_id(User.new) },
                class: "btn btn-primary" %>
  </div>
  <%= turbo_frame_tag dom_id(User.new) %>

  <%= turbo_frame_tag "users" do %>
    <%= render @users %>
  <% end %>
</main>
